<div class="page-content">
    <div class="section page-content-first">
        <div class="container">
            <div class="text-center mb-2  mb-md-3 mb-lg-4">
                <h1>{{'ABOUT.TITLE' | translate}}</h1>
                <div class="h-decor"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mt-3 mt-lg-0">
                    <p>{{'ABOUT.FTEXT' | translate}}</p>
                    <ul class="marker-list-md">
                        <li>{{'ABOUT.LIST1' | translate}}</li>
                        <li>{{'ABOUT.LIST2' | translate}}</li>
                        <li>{{'ABOUT.LIST3' | translate}}</li>
                        <li>{{'ABOUT.LIST4' | translate}}</li>
                    </ul>
                    <div class="mt-3 mt-md-7"></div>
                    <!-- <h3 style="margin-bottom: -15px">{{'ABOUT.MISSION' | translate}} <span class="theme-color">{{'ABOUT.STATE' | translate}}</span></h3>
                    <div class="mt-0 mt-md-4"></div>
                    <p>{{'ABOUT.MISSIONTEXT' | translate}}</p> -->
                </div>
                <div class="col-lg-6 bg-grey pr-md-4">
                    <div class="title-wrap">
                        <h2 class="h1">{{'ABOUT.OUR' | translate}} <span class="theme-color">{{'ABOUT.ADV' | translate}}</span></h2>
                    </div>
                    <div class="mt-lg-5"></div>
                    <div class="row">
                        <div class="col-sm-7">
                            <ul class="marker-list-md">
                                <li>{{'ABOUT.ADV1' | translate}}</li>
                                <li>{{'ABOUT.ADV2' | translate}}</li>
                                <li>{{'ABOUT.ADV3' | translate}}</li>

                            </ul>
                        </div>
                        <div class="col-sm-5 mt-1 mt-sm-0">
                            <ul class="marker-list-md">
                                <li>{{'ABOUT.ADV4' | translate}}</li>
                                <li>{{'ABOUT.ADV5' | translate}}</li>
                                <li>{{'ABOUT.ADV6' | translate}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//section-->
    <!--section-->
    <div class="section">
        <div class="container">
            <div class="title-wrap text-center">
                <div class="h-sub theme-color">{{'ABOUT.MOTIVATION' | translate}}</div>
                <h2 class="h1">{{'ABOUT.CORE' | translate}}</h2>
                <div class="h-decor"></div>
            </div>
            <div class="row js-icn-carousel icn-carousel flex-column flex-sm-row text-center text-sm-left" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}]}'>
                <div class="col-md">
                    <div class="icn-text">
                        <div class="icn-text-simple"><i class="icon-innovation"></i></div>
                        <div>
                            <h5 class="icn-text-title">{{'ABOUT.INTTITLE' | translate}}</h5>
                            <p>{{'ABOUT.INTTEXT' | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="icn-text">
                        <div class="icn-text-simple"><i class="icon-compassion"></i></div>
                        <div>
                            <h5 class="icn-text-title">{{'ABOUT.COMTITLE' | translate}}</h5>
                            <p>{{'ABOUT.COMTEXT' | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="icn-text">
                        <div class="icn-text-simple"><i class="icon-integrity"></i></div>
                        <div>
                            <h5 class="icn-text-title">{{'ABOUT.INTEGTITLE' | translate}}</h5>
                            <p>{{'ABOUT.INTEGTEXT' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//section-->
    <!--section-->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="title-wrap">
                        <h2 class="h1">{{'ABOUT.OFFICE' | translate}}</h2>
                        <div class="h-decor"></div>
                    </div>
                    <p>
                        {{'ABOUT.OFFICETEXT' | translate}}
                    </p>
                    <div class="mt-4"></div>
                    <h3>{{'ABOUT.AMENITIES' | translate}}</h3>
                    <div class="mt-lg-4"></div>
                    <ul class="marker-list-md">
                        <li>{{'ABOUT.AMENITIES1' | translate}}</li>
                        <li>{{'ABOUT.AMENITIES2' | translate}}</li>
                        <li>{{'ABOUT.AMENITIES3' | translate}}</li>
                        <li>{{'ABOUT.AMENITIES4' | translate}}</li>
                    </ul>
                </div>
                <div class="col-lg-8 mt-4 mt-lg-0">
                    <div class="slider-gallery">
                        <ul class="slider-gallery-main list-unstyled js-slider-gallery-main">
                            <li><img src="../../assets/images/content/clinic-view3.jpeg" alt=""></li>

                        </ul>
                        <ul class="slider-gallery-thumbs list-unstyled js-slider-gallery-thumbs">
                          <li><img src="../../assets/images/content/clinic-view3.jpeg" alt=""></li>

                        </ul>
                        <!-- <ul class="slider-gallery-main list-unstyled js-slider-gallery-main">
                            <li><img src="../../assets/images/content/slider-gallery-00.jpg" alt=""></li>
                            <li><img src="../../assets/images/content/slider-gallery-01.jpg" alt=""></li>
                            <li><img src="../../assets/images/content/slider-gallery-02.jpg" alt=""></li>
                            <li><img src="../../assets/images/content/slider-gallery-03.jpg" alt=""></li>
                            <li><img src="../../assets/images/content/slider-gallery-04.jpg" alt=""></li>
                            <li><img src="../../assets/images/content/slider-gallery-05.jpg" alt=""></li>
                        </ul>
                        <ul class="slider-gallery-thumbs list-unstyled js-slider-gallery-thumbs">
                            <li><img src="../../assets/images/content/slider-gallery-00-sm.jpg" alt=""></li>
                            <li><img src="../../assets/images/content/slider-gallery-01-sm.jpg" alt=""></li>
                            <li><img src="../../assets/images/content/slider-gallery-02-sm.jpg" alt=""></li>
                            <li><img src="../../assets/images/content/slider-gallery-03-sm.jpg" alt=""></li>
                            <li><img src="../../assets/images/content/slider-gallery-04-sm.jpg" alt=""></li>
                            <li><img src="../../assets/images/content/slider-gallery-05-sm.jpg" alt=""></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//section-->
</div>
