<div class="page-content">
    <!--section-->
    <div class="section mt-0">
        <div class="contact-map" id="googleMapContact"></div>
    </div>
    <!--//section-->
    <!--section-->
    <div class="section mt-0 bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="title-wrap">
                        <h5>Clinic Location</h5>
                        <div class="h-decor"></div>
                    </div>
                    <ul class="icn-list-lg">
                        <li><i class="icon-placeholder2"></i> DentCo Dental Clinic
                            <br>1560 Holden Street San Diego,
                            <br>CA 92139
                        </li>
                    </ul>
                </div>
                <div class="col-md mt-3 mt-md-0">
                    <div class="title-wrap">
                        <h5>Contact Info</h5>
                        <div class="h-decor"></div>
                    </div>
                    <ul class="icn-list-lg">
                        <li><i class="icon-telephone"></i>Phone: <span class="theme-color"><span class="text-nowrap">1-800-267-0000,</span> <span class="text-nowrap">1-800-267-0001</span>
                            </span>
                            <br> Fax: <span class="theme-color"><span class="text-nowrap">(957) 267-0020</span>
                            </span>
                        </li>
                        <li><i class="icon-black-envelope"></i><a href="mailto:info@dentco.net">info@dentco.net</a></li>
                    </ul>
                </div>
                <div class="col-md mt-3 mt-md-0">
                    <div class="title-wrap">
                        <h5>Working Time</h5>
                        <div class="h-decor"></div>
                    </div>
                    <ul class="icn-list-lg">
                        <li><i class="icon-clock"></i>
                            <div>
                                <div class="d-flex"><span>Mon-Thu</span><span class="theme-color">08:00 - 20:00</span></div>
                                <div class="d-flex"><span>Friday</span><span class="theme-color">07:00 - 22:00</span></div>
                                <div class="d-flex"><span>Saturday</span><span class="theme-color">08:00 - 18:00</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--//section-->

</div>