// .map-content {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.mapouter{
  position:relative;
  text-align:right;
  height:500px;
  width:1000px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:100%;
  width:100%;
}
