<div class="page-content">
    <!--section-->
    <!-- <div class="section mt-0">
        <div class="breadcrumbs-wrap">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="index-2.html">Home</a>
                    <span>Services</span>
                </div>
            </div>
        </div>
    </div> -->
    <!--//section-->
    <!--section-->
    <div class="section page-content-first">
        <div class="container">
            <div class="text-center mb-2  mb-md-3 mb-lg-4">
                <div class="h-sub theme-color">What We Offer</div>
                <h1>Our Services</h1>
                <div class="h-decor"></div>
                <div class="text-center mt-4">
                    <p>Patients receive comprehensive care from expert medical teams that focus not only on specific diseases and disorders,<br>
but also on caring for the whole person</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row col-equalH">
                <div class="col-md-6 col-lg-4" *ngFor="let service of services">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="#"><img [src]="service.servPhoto" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="3">{{ service.servName }}</a></h5>
                        <div class="h-decor"></div>
                        <p>{{ service.servText }}</p>
                        <ul class="marker-list-md-line" *ngFor="let list of service.servList">
                            <li>{{ list }}</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//section-->
</div>




<!--
    
    <div class="col-md-6 col-lg-4">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="service-page.html"><img src="images/content/services-02.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="service-page.html">Heart & Vascular Care</a></h5>
                        <div class="h-decor"></div>
                        <p>Treatment for the most complex, advanced heart, lung, and vascular disease problems.</p>
                        <ul class="marker-list-md-line">
                            <li>The Advanced Lipid</li>
                            <li>The Aortopathy Screening</li>
                            <li>Sports Cardiology</li>
                            <li>Vascular Regenerative Medicine</li>
                            <li>Heart and Vascular Clinical Trials</li>
                            <li>Carotid Stent</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="service-page.html"><img src="images/content/services-03.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="service-page.html">Neurology</a></h5>
                        <div class="h-decor"></div>
                        <p>Your child will receive state-of-the-art oral care from our team</p>
                        <ul class="marker-list-md-line">
                            <li>Epilepsy</li>
                            <li>Movement disorders</li>
                            <li>Autoimmune neurology</li>
                            <li>Pediatric neurology</li>
                            <li>Neurophysiology</li>
                            <li>Headache</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="service-page.html"><img src="images/content/services-04.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="service-page.html">Neurosurgery</a></h5>
                        <div class="h-decor"></div>
                        <p>Neurosurgery treats conditions that affect the brain, spine and nerves, including aneurysms, tumors and injuries.</p>
                        <ul class="marker-list-md-line">
                            <li>Brain Tumors</li>
                            <li>Cerebral Aneurysm</li>
                            <li>Intracerebral Hemorrhage</li>
                            <li>Skull and Spine Fractures</li>
                            <li>Head Injury</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="service-page.html"><img src="images/content/services-05.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="service-page.html">Orthopedics</a></h5>
                        <div class="h-decor"></div>
                        <p>Orthopedics treats problems with bones, joints, muscles and the spine to help you return to your previous level of activity quickly and safely.</p>
                        <ul class="marker-list-md-line">
                            <li>Orthopedic Trauma</li>
                            <li>Spine</li>
                            <li>Upper and Lower Extremities</li>
                            <li>Rehabilitation</li>
                            <li>Sports Medicine</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="service-page.html"><img src="images/content/services-06.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="service-page.html">Primary Care</a></h5>
                        <div class="h-decor"></div>
                        <p>Primary Care Services and Physicians are your gateways to specialty services and programs offered by IU Health.</p>
                        <ul class="marker-list-md-line">
                            <li>Preventive services</li>
                            <li>Care for common illness</li>
                            <li>Care for chronic conditions</li>
                            <li>Laboratory and radiology</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="service-page.html"><img src="images/content/services-07.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="service-page.html">Sports Medicine</a></h5>
                        <div class="h-decor"></div>
                        <p>Sports Medicine care includes prevention, diagnosis and treatment for athletes and weekend warriors of all ages.</p>
                        <ul class="marker-list-md-line">
                            <li>Strains & Sprains</li>
                            <li>Concussions</li>
                            <li>Sports Physicals</li>
                            <li>Running Injuries</li>
                            <li>Overuse Syndrome</li>
                            <li>Eating Disorders</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="service-page.html"><img src="images/content/services-08.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="service-page.html">Transplant</a></h5>
                        <div class="h-decor"></div>
                        <p>If facing end-stage organ failure, a kidney, pancreas, liver, lung, intestine or heart transplant will help you embrace life again.</p>
                        <ul class="marker-list-md-line">
                            <li>Kidney</li>
                            <li>Pancreas</li>
                            <li>Liver</li>
                            <li>Intestine/multivisceral</li>
                            <li>Heart</li>
                            <li>Lung</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="service-page.html"><img src="images/content/services-09.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="service-page.html">Women's Health</a></h5>
                        <div class="h-decor"></div>
                        <p>Women’s healthcare begins in adolescence and includes gynecological and obstetrical care, and breast health.</p>
                        <ul class="marker-list-md-line">
                            <li>Gynecology</li>
                            <li>Obstetrics</li>
                            <li>Well-woman visits</li>
                            <li>Birth control</li>
                            <li>Menopause</li>
                            <li>Breast health</li>
                        </ul>
                    </div>
                </div>


 -->