<div class="page-content">

    <div class="section page-content-first">
        <div class="container">
            <div class="text-center mb-2  mb-md-3 mb-lg-4">
                <div class="h-sub theme-color"> {{ "SERVICES.OFFER" | translate }} </div>
                <h1>{{ "SERVICES.SERVI" | translate }}</h1>
                <div class="h-decor"></div>
                <div class="text-center mt-4">
                    <p>{{ "SERVICES.TEXTFLINE" | translate }},<br>
                        {{ "SERVICES.TEXTSLINE" | translate }}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row col-equalH centerize">
                <div class="col-md-6 col-lg-4">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="service-page.html"><img src="assets/images/content/services-06.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="service-page.html">{{ "SERVICES.PRIMARYTITLE" | translate }}</a></h5>
                        <div class="h-decor"></div>
                        <p>{{ "SERVICES.PRIMARYTEXT" | translate }}</p>
                        <ul class="marker-list-md-line">
                            <li>{{ "SERVICES.PRIMARYFLI" | translate }}</li>
                            <li>{{ "SERVICES.PRIMARYSLI" | translate }}</li>
                            <li>{{ "SERVICES.PRIMARYTLI" | translate }}</li>
                            <li>{{ "SERVICES.PRIMARYLLI" | translate }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="service-page.html"><img src="assets/images/content/lab.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="service-page.html">{{ "SERVICES.LABTITLE" | translate }}</a></h5>
                        <div class="h-decor"></div>
                        <p>{{ "SERVICES.LABTEXT" | translate }}</p>
                        <ul class="marker-list-md-line">
                            <li>{{ "SERVICES.LABFLI" | translate }}</li>
                            <li>{{ "SERVICES.LABSLI" | translate }}</li>
                            <li>{{ "SERVICES.LABTLI" | translate }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="service-page.html"><img src="assets/images/content/observation.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="service-page.html">{{ "SERVICES.OBSTITLE" | translate }}</a></h5>
                        <div class="h-decor"></div>
                        <p>{{ "SERVICES.OBSTEXT" | translate }}</p>
                        <ul class="marker-list-md-line">
                            <li>{{ "SERVICES.OBSFLI" | translate }}</li>
                            <li>{{ "SERVICES.OBSSLI" | translate }}</li>
                            <li>{{ "SERVICES.OBSTLI" | translate }}</li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-lg-4" *ngFor="let service of services">
                    <div class="service-card">
                        <div class="service-card-photo">
                            <a href="#"><img [src]="service.servPhoto" class="img-fluid" alt=""></a>
                        </div>
                        <h5 class="service-card-name"><a href="javascript:void(0)">{{ service.servName }} {{ 'HOME.INFO' | translate}}</a></h5>
                        <div class="h-decor"></div>
                        <p>{{ service.servText }}</p>
                        <ul class="marker-list-md-line" *ngFor="let list of service.servList">
                            <li>{{ list }}</li>
                            
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!--//section-->
</div>
