
<div class="footer">
  <div class="section mt-0 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="title-wrap">
                    <h5>{{ 'FOOTER.LOCA' | translate }}</h5>
                    <div class="h-decor"></div>
                </div>
                <ul class="icn-list-lg">
                    <li><i class="icon-placeholder2"></i> {{ 'FOOTER.LOCA' | translate }}
                        <br> Utopia beach Club
                        <br> Red Sea, Egypt
                    </li>
                </ul>
            </div>
            <div class="col-md mt-3 mt-md-0">
                <div class="title-wrap">
                    <h5>{{ 'FOOTER.INFO' | translate }}</h5>
                    <div class="h-decor"></div>
                </div>
                <ul class="icn-list-lg">
                    <li>
                        <i class="icon-telephone"></i>
                        {{ 'FOOTER.PHONE' | translate }} 
                        <span class="theme-color">
                            <span class="text-nowrap">(+20) 1001355453</span>
                        </span>
                    </li>
                    <li><i class="icon-black-envelope"></i><a href="mailto:OceanClinic0@gmail.com">OceanClinic0@gmail.com</a></li>
                    <li><i class="icon-black-envelope"></i><a href="mailto:utopiaclub_clinic_guestcare@yahoo.com">utopiaclub_clinic_guestcare@yahoo.com</a></li>
                </ul>
            </div>
            <div class="col-md mt-3 mt-md-0">
                <div class="title-wrap">
                    <h5>{{ 'FOOTER.TIME' | translate }}</h5>
                    <div class="h-decor"></div>
                </div>
                <ul class="icn-list-lg">
                    <li><i class="icon-clock"></i>
                        <div>
                            <div class="d-flex"><span>Mon-Thu</span><span class="theme-color">08:00 - 20:00</span></div>
                            <div class="d-flex"><span>Friday</span><span class="theme-color">07:00 - 22:00</span></div>
                            <div class="d-flex"><span>Saturday</span><span class="theme-color">08:00 - 18:00</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row text-center text-md-left">
        <div class="col-sm">Copyright © 2019 <a  href="#"><b>Ocean Clinic</b></a>
        </div>
        <div class="col-sm-auto ml-auto"><span class="d-none d-sm-inline">For emergency cases&nbsp;&nbsp;&nbsp;</span><i class="icon-telephone"></i>&nbsp;&nbsp;<b>(+20) 1001355453 , (+20) 1015570642</b></div>
      </div>
    </div>
  </div>
</div>
