.slide-btn {
  margin-bottom: 60px;
}

// .title-wrap {
//   margin-top: 60px;
// }


svg {
  width: 82px;
  height:82px;
}


.mb-30 {
  margin-top:30px;
  margin-bottom:0;
}


.brd-radius {
  transition: all .6s ease-in-out;
  &:hover {
    border-radius: 12px;
  }
}