<div class="page-content">
  <!--section slider-->
  <div class="section mt-0">
    <div id="mainSliderWrapper">
      <div class="loading-content">
        <div class="inner-circles-loader"></div>
      </div>
      <div class="main-slider mb-0 arrows-white arrows-bottom" id="mainSlider" data-slick='{"arrows": false, "dots": true}'>
        <div class="slide">
          <div class="img--holder" data-bg="/assets/images/main-banner2.jpg"></div>
          <div class="slide-content center">
            <div class="vert-wrap container">
              <div class="vert">
                <div class="container">
                  <div class="slide-txt1" data-animation="fadeInDown" data-animation-delay="1s">{{ 'SLIDER.QUALITY' | translate }}
                    <br><b>{{ 'SLIDER.HEALTH' | translate }}</b></div>
                  <div class="slide-txt2" data-animation="fadeInUp" data-animation-delay="1.5s">{{ 'SLIDER.ACHIVE' | translate }}</div>
                  <div class="slide-btn"><a href="javascript:void(0)" class="btn btn-grey" data-animation="fadeInUp" data-animation-delay="2s"><i class="icon-right-arrow"></i><span>{{ 'SLIDER.BUTTON' | translate }}</span><i class="icon-right-arrow"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="img--holder" data-bg="/assets/images/slide-2.jpg"></div>
          <div class="slide-content center">
            <div class="vert-wrap container">
              <div class="vert">
                <div class="container">
                  <div class="slide-txt1" data-animation="fadeInDown" data-animation-delay="1s">{{ 'SLIDER.PROVIDE' | translate }}
                    <br><b>{{ 'SLIDER.MEDICAL' | translate }}</b></div>
                  <div class="slide-txt2" data-animation="fadeInUp" data-animation-delay="1.5s">{{ 'SLIDER.STANDARD' | translate }}</div>
                  <div class="slide-btn"><a href="javascript:void(0)" class="btn btn-grey" data-animation="fadeInUp" data-animation-delay="2s"><i class="icon-right-arrow"></i><span>{{ 'SLIDER.BUTTON' | translate }}</span><i class="icon-right-arrow"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//section slider-->
 <!--section under slider-->
 <div class="section mt-0 shadow-bot pt-2 pb-0 py-sm-4 mb-2">
    <div class="container">
      <div class="row js-icn-text-alt-carousel">
        <div class="col-md-6 col-lg-4">
          <div class="icn-text-alt">
            <div class="icn-text-alt-icn"><i class="icon-first-aid-kit"></i></div>
            <div>
              <h4 class="icn-text-alt-title">{{ 'UNDERSLIDER.HOUR' | translate }}</h4>
              <p>{{ 'UNDERSLIDER.HOURTEXT' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="icn-text-alt">
            <div class="icn-text-alt-icn"><i class="icon-flask"></i></div>
            <div>
              <h4 class="icn-text-alt-title">{{ 'UNDERSLIDER.LAB' | translate }}</h4>
              <p>{{ 'UNDERSLIDER.LABTEXT' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="icn-text-alt">
            <div class="icn-text-alt-icn"><i class="icon-doctor"></i></div>
            <div>
              <h4 class="icn-text-alt-title">{{ 'UNDERSLIDER.MED' | translate }}</h4>
              <p>{{ 'UNDERSLIDER.MEDTEXT' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//section under slider-->


  <!--section welcome-->
  <div class="section">
    <div class="container pt-lg-2">
      <div class="title-wrap text-center text-md-left d-lg-none mb-lg-2">
        <div class="h-sub">{{ 'WELCOME.TIME' | translate }}</div>
        <h2 class="h1">{{ 'WELCOME.MAINTITLE' | translate }}<span class="theme-color"> {{ 'WELCOME.SPANTITLE' | translate }}</span></h2>
      </div>
      <div class="row mt-2 mt-md-3 mt-lg-0">
        <div class="col-md-6">
          <div class="title-wrap hidden d-none d-lg-block text-center text-md-left">
            <div class="h-sub">{{ 'WELCOME.TIME' | translate }}</div>
            <h2 class="h1">{{ 'WELCOME.MAINTITLE' | translate }} <span class="theme-color"> {{ 'WELCOME.SPANTITLE' | translate }}</span></h2>
          </div>
          <div>
            <p>{{ 'WELCOME.FIRSTTEXT' | translate }}</p>
            <p>{{ 'WELCOME.SECONDTEXT' | translate }}</p>
          </div>
          <div class="mt-2 mt-md-4"></div>
          <a href="#" class="btn-link" data-toggle="modal" data-target="#modalBookingForm">Booking a visit<i class="icon-right-arrow"></i></a>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
          <div class="video-wrap embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/YZEvkRbQgHY?autoplay=0&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;start=70" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--//section welcome-->
 		<!--section services-->
     <div class="section">
        <div class="container-fluid px-0">
          <div class="title-wrap text-center">
            <div class="h-sub theme-color">What we offer</div>
            <h2 class="h1">General Services</h2>
            <div class="h-decor"></div>
          </div>
          <div class="row no-gutters services-box-wrap services-box-wrap-desktop">
            <div class="col-md-4 col-xs-6">
              <div class="service-box-rotator js-service-box-rotator">
                <div class="service-box service-box-greybg service-box--hiddenbtn">
                  <div class="service-box-caption text-center">
                    <div class="service-box-icon"><i class="icon-surgery"></i></div>
                    <div class="service-box-icon-bg"><i class="icon-surgery"></i></div>
                    <h3 class="service-box-title">General Surgery</h3>
                    <p>The general surgical team encompasses a full range of emergency and elective inpatient and day case surgery</p>
                    <div class="btn-wrap"><a href="service-page.html" class="btn"><i class="icon-right-arrow"></i><span>Know more</span><i class="icon-right-arrow"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-6">
              <div class="service-box-rotator js-service-box-rotator">
                <div class="service-box service-box-greybg service-box--hiddenbtn">
                  <div class="service-box-caption text-center">
                    <div class="service-box-icon"><i class="icon-ambulance"></i></div>
                    <div class="service-box-icon-bg"><i class="icon-ambulance"></i></div>
                    <h3 class="service-box-title">Urgent Care</h3>
                    <p>You don't need an appointment to get treated at our urgent care center</p>
                    <div class="btn-wrap"><a href="service-page.html" class="btn"><i class="icon-right-arrow"></i><span>Know more</span><i class="icon-right-arrow"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-6">
              <div class="service-box-rotator">
                <div class="service-box service-box-greybg service-box--hiddenbtn">
                  <div class="service-box-caption text-center">
                    <div class="service-box-icon"><i class="icon-syringe"></i></div>
                    <div class="service-box-icon-bg"><i class="icon-syringe"></i></div>
                    <h3 class="service-box-title">Immunizations</h3>
                    <p>This service can provide you with many of the common vaccines including those required for immunization records</p>
                    <div class="btn-wrap"><a href="service-page.html" class="btn"><i class="icon-right-arrow"></i><span>Know more</span><i class="icon-right-arrow"></i></a></div>
                  </div>
                </div>
            </div>
          </div>
        </div>
          <div class="row no-gutters services-box-wrap services-box-wrap-desktop">
            <div class="col-md-4 col-xs-6">
              <div class="service-box-rotator js-service-box-rotator">
                <div class="service-box service-box-greybg service-box--hiddenbtn">
                  <div class="service-box-caption text-center">
                    <div class="service-box-icon"><i class="icon-surgery"></i></div>
                    <div class="service-box-icon-bg"><i class="icon-surgery"></i></div>
                    <h3 class="service-box-title">Family Medicine</h3>
                    <p>Family Medicine is committed to providing personalized, lifelong care for your entire family.</p>
                    <div class="btn-wrap"><a href="service-page.html" class="btn"><i class="icon-right-arrow"></i><span>Know more</span><i class="icon-right-arrow"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-6">
              <div class="service-box-rotator js-service-box-rotator">
                <div class="service-box service-box-greybg service-box--hiddenbtn">
                  <div class="service-box-caption text-center">
                    <div class="service-box-icon"><i class="icon-ambulance"></i></div>
                    <div class="service-box-icon-bg"><i class="icon-ambulance"></i></div>
                    <h3 class="service-box-title">Pediatric Care</h3>
                    <p>We provide a long list of pediatric services to care for your child from infancy into adulthood</p>
                    <div class="btn-wrap"><a href="service-page.html" class="btn"><i class="icon-right-arrow"></i><span>Know more</span><i class="icon-right-arrow"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-6">
              <div class="service-box-rotator">
                <div class="service-box service-box-greybg service-box--hiddenbtn">
                  <div class="service-box-caption text-center">
                    <div class="service-box-icon"><i class="icon-syringe"></i></div>
                    <div class="service-box-icon-bg"><i class="icon-syringe"></i></div>
                    <h3 class="service-box-title">Minor Surgical Procedures</h3>
                    <p>We provide efficient control and cope with chromic diseases like hypertension, asthma and diabetes mellitus</p>
                    <div class="btn-wrap"><a href="service-page.html" class="btn"><i class="icon-right-arrow"></i><span>Know more</span><i class="icon-right-arrow"></i></a></div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
     </div>
      <!--//section services-->
  <!--section-->
  <div class="section">
    <div class="container">
      <div class="title-wrap text-center">
        <h2 class="h1">{{ 'MISSION.MISS' | translate }} &amp; {{ 'MISSION.VIS' | translate }}</h2>
        <div class="h-decor"></div>
      </div>
      <p class="max-900 text-center">{{ 'MISSION.TEXTFLINE' | translate }}
        <br> {{ 'MISSION.TEXTSLINE' | translate }}</p>
      <div class="row js-icn-carousel icn-carousel flex-column flex-sm-row text-center text-sm-left" data-slick="{&quot;slidesToShow&quot;: 3, &quot;responsive&quot;:[{&quot;breakpoint&quot;: 1024,&quot;settings&quot;:{&quot;slidesToShow&quot;: 2}}]}">



      <div class="col-md" style="">
          <div class="icn-text">
            <div class="icn-text-circle"><i class="icon-medicine"></i></div>
            <div>
              <h5 class="icn-text-title">{{ 'MISSION.MISSIONTITLE' | translate }}</h5>
              <p>{{ 'MISSION.MISSIONTEXT' | translate }}</p>
            </div>
          </div>
        </div><div class="col-md" style="">
          <div class="icn-text">
            <div class="icn-text-circle"><i class="icon-pharmacy"></i></div>
            <div>
              <h5 class="icn-text-title">{{ 'MISSION.VIS' | translate }}</h5>
              <p>{{ 'MISSION.VISIONTEXT' | translate }}</p>
            </div>
          </div>
        </div><div class="col-md" style="">
          <div class="icn-text">
            <div class="icn-text-circle"><i class="icon-principles"></i></div>
            <div>
              <h5 class="icn-text-title">{{ 'MISSION.PRINCIPLESTITLE' | translate }}</h5>
              <p>{{ 'MISSION.PRINCIPLESTEXT' | translate }}</p>
            </div>
          </div>
        </div></div>
    </div>
  </div>
  <!--//section-->
<!-- What We Also Do -->
  <!--section single service -->
  <!-- <div class="section">
    <div class="container">
      <div class="title-wrap text-center">
        <h2 class="h1">What We Also Do</h2>
        <div class="h-decor"></div>
      </div>
      <div class="single-service-carousel js-single-service-carousel slick-initialized slick-slider">
        <div aria-live="polite" class="slick-list draggable" tabindex="0"><div class="slick-track" style="opacity: 1; width: 7020px; transform: translate3d(-2340px, 0px, 0px);"><div class="single-service slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 1170px;">
          <div class="row">
            <div class="col-md col-img text-right">
              <img src="assets/images/content/services-carousel-04.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md">
              <div class="text-left pr-0 pr-md-3 pr-lg-6">
                <h3>Friends and Family Test</h3>
                <p>We would like your feedback on the care or treatment we give you any time you visit your GP or have contact with the practice. It doesn't take long. Put us to the test and tell us what is working and what we can improve. You can say what you think without giving your name and we will use the information to plan improvements to our services.</p>
                <div class="btn-wrap"><a href="service-page.html" class="btn btn-hover-fill"><i class="icon-right-arrow"></i><span>Read more</span><i class="icon-right-arrow"></i></a></div>
              </div>
            </div>
          </div>
        </div><div class="single-service slick-slide" data-slick-index="0" aria-hidden="true" style="width: 1170px;">
          <div class="row">
            <div class="col-md">
              <div class="text-right pl-0 pl-md-3 pl-lg-6">
                <h3>Nursing</h3>
                <p>Our nurse practitioners and primary care nurses work with your family doctor to help manage and provide advice on many conditions including diabetes, depression and high cholesterol. They can assist you with your overall health, monitoring and managing your chronic health conditions.</p>
                <div class="btn-wrap"><a href="service-page.html" class="btn btn-hover-fill"><i class="icon-right-arrow"></i><span>Read more</span><i class="icon-right-arrow"></i></a></div>
              </div>
            </div>
            <div class="col-md col-img">
              <img src="assets/images/content/services-carousel-01.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><div class="single-service slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 1170px;">
          <div class="row">
            <div class="col-md col-img text-right">
              <img src="assets/images/content/services-carousel-02.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md">
              <div class="text-left pr-0 pr-md-3 pr-lg-6">
                <h3>Nutrition</h3>
                <p>Our primary care dietitians are health professionals who counsel and support patients to make changes in their eating habits to promote health and prevent chronic illness. Whether you are trying to manage a medical condition, control your weight, feed your family, or read food labels, they can help you.</p>
                <div class="btn-wrap"><a href="service-page.html" class="btn btn-hover-fill"><i class="icon-right-arrow"></i><span>Read more</span><i class="icon-right-arrow"></i></a></div>
              </div>
            </div>
          </div>
        </div><div class="single-service slick-slide" data-slick-index="2" aria-hidden="true" style="width: 1170px;">
          <div class="row">
            <div class="col-md">
              <div class="text-right pl-0 pl-md-3 pl-lg-6">
                <h3>Exercise</h3>
                <p>Our exercise specialists promote and prescribe physical activity to prevent and manage chronic health concerns. They facilitate supervised exercise groups and will work one-on-one with our patients to assess their physical function and instruct on proper exercise technique and appropriate activities based on each patient’s individual needs. Exercise specialists hold at a minimum a bachelor’s degree in Physical Education or Kinesiology.</p>
                <div class="btn-wrap"><a href="service-page.html" class="btn btn-hover-fill"><i class="icon-right-arrow"></i><span>Read more</span><i class="icon-right-arrow"></i></a></div>
              </div>
            </div>
            <div class="col-md col-img">
              <img src="assets/images/content/services-carousel-03.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><div class="single-service slick-slide" data-slick-index="3" aria-hidden="true" style="width: 1170px;">
          <div class="row">
            <div class="col-md col-img text-right">
              <img src="assets/images/content/services-carousel-04.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md">
              <div class="text-left pr-0 pr-md-3 pr-lg-6">
                <h3>Friends and Family Test</h3>
                <p>We would like your feedback on the care or treatment we give you any time you visit your GP or have contact with the practice. It doesn't take long. Put us to the test and tell us what is working and what we can improve. You can say what you think without giving your name and we will use the information to plan improvements to our services.</p>
                <div class="btn-wrap"><a href="service-page.html" class="btn btn-hover-fill"><i class="icon-right-arrow"></i><span>Read more</span><i class="icon-right-arrow"></i></a></div>
              </div>
            </div>
          </div>
        </div><div class="single-service slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 1170px;">
          <div class="row">
            <div class="col-md">
              <div class="text-right pl-0 pl-md-3 pl-lg-6">
                <h3>Nursing</h3>
                <p>Our nurse practitioners and primary care nurses work with your family doctor to help manage and provide advice on many conditions including diabetes, depression and high cholesterol. They can assist you with your overall health, monitoring and managing your chronic health conditions.</p>
                <div class="btn-wrap"><a href="service-page.html" class="btn btn-hover-fill"><i class="icon-right-arrow"></i><span>Read more</span><i class="icon-right-arrow"></i></a></div>
              </div>
            </div>
            <div class="col-md col-img">
              <img src="assets/images/content/services-carousel-01.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div></div></div>



      <button type="button" data-role="none" class="slick-prev" aria-label="previous" style="">Previous<span class="icon-wrap"></span></button><button type="button" data-role="none" class="slick-next" aria-label="next" style="">Next<span class="icon-wrap"></span></button><ul class="slick-dots" style=""><li class="" aria-hidden="true"><button type="button" data-role="none">1</button></li><li aria-hidden="false" class="slick-active"><button type="button" data-role="none">2</button></li><li aria-hidden="true" class=""><button type="button" data-role="none">3</button></li><li aria-hidden="true" class=""><button type="button" data-role="none">4</button></li></ul></div>
    </div>
  </div> -->
  <!--//section single service -->
  <!--section faq-->
  <div class="section bg-grey py-0">
    <div class="container-fluid px-0">
      <div class="row">
        <div class="container">
          <div class="title-wrap text-center">
            <h2 class="h1">Patient Information</h2>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-xl-6">
          <div class="faq-wrap px-15 px-lg-8">
            <h4 class="res">Responsibilities</h4>
            <ul *ngFor="let item of responsibilities">
              <li>{{ item }}</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="faq-wrap px-15 px-lg-8">
            <h4 class="rights">Rights</h4>
            <ul class="lists" *ngFor="let item of rights">
              <li> <p>{{ item }}</p></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container text-center">
            <div class="slide-btn"><a [routerLink]="['/patients']" routerLinkActive="router-link-active"  class="btn btn-grey" data-animation="fadeInUp" data-animation-delay="2s"><i class="icon-right-arrow"></i><span>{{ 'SLIDER.BUTTON' | translate }}</span><i class="icon-right-arrow"></i></a></div>
        </div>
      </div>
    </div>
  </div>
  <!--//section faq-->
  <div class="section">
    <div class="container">
      <div class="title-wrap text-center">
        <h2 class="h1">We Are Here For You :)</h2>
      </div>
    </div>
  </div>

</div>
